.main_div{
height: 100vh;
width: 100%;
/* background-color: black; */
/* background-color: rgba(219, 183, 183, 0.311); */
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background-image: url(".././images/nexus-6-k6Wx2acrRO4-unsplash.jpg");
background-repeat: no-repeat;
background-size:cover;
object-fit: cover;
}

.login_div{
margin-top: 10%;
flex: 45%;
}
.signup_div{
flex: 50%;


/* background-image: url(".././images/rightvideo.gif");
background-repeat: no-repeat;
background-size:cover;
padding: 3rem; */
}
.assistance_btn{
position: absolute;
width: 20%;
display: flex;
color: white;
font-weight: light;
bottom: 5%;
left: 5%;
}
.assistance_btn:hover{
cursor: pointer;
}

.assistance_btn p{
width: 50%;
position: absolute;
transform: translate(4rem,0rem);
}